.domlint-ui {
  position: fixed;
  width: 400px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
  border-radius: 8px;
  padding: 10px;
  font-family: sans-serif;
  font-size: 12px;
  background: #222;
  color: #fff;
}

.domlint-ui-toolbar {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: grab;
}

.domlint-ui-toolbar:active {
  cursor: grabbing;
}

.domlint-ui-button {
  border-radius: 4px;
  border: 0;
  padding: 4px 8px;
  background-color: #06f;
  color: #fff;
  cursor: pointer;
}

.domlint-ui-button:hover {
  filter: brightness(90%);
}

.domlint-ui-button:active {
  filter: brightness(80%);
}

.domlint-ui-score {
  font-size: 16px;
}

.domlint-ui-score-value {
  font-weight: bold;
}

.domlint-ui-score-value-good {
  color: #008600;
}

.domlint-ui-score-value-okay {
  color: #eb7900;
}

.domlint-ui-score-value-bad {
  color: #da0e0e;
}
